extend default

block content

  p.
    Welcome to the TRON Community Node staging network!

  p. We're here to help you practice developing and deploying dapps onto the Tron network. Our test network works just the same as the Tron main net. We have created our own xTRX tokens on our test network for you to use with our test wallets, too. You'll need 1024 test xTRX to publish your dapp, we'll be happy to supply you with them.

  p. Things are just getting going here. Soon we will have a config file for you to download and partake in the network, and after that we'll get the wallet server up and running. Tron has not added the contract creation or dapp features to the test net, so right now there's not much to play with, but rest assured we will implement new features as they're added.